<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzEmQy-7TqCjSVwwC7ZNDmmUqOy75rMhI</string>
	<key>GCM_SENDER_ID</key>
	<string>274283782374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FractaFigures</string>
	<key>PROJECT_ID</key>
	<string>test1-50b51</string>
	<key>STORAGE_BUCKET</key>
	<string>test1-50b51.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274283782374:ios:df4f62ea3a9b71d7dd9b27</string>
</dict>
</plist>